.danger {
  color: red;
  font-size: 20px;
  font-weight: bold;
} 

p {
  font-family: Arial;
  font-size: 1rem;
  background-color: aliceblue;
}

div {
  margin-bottom: 1.5em;
}

/*
input[type="text"] {
  width: 300px;
}

:hover { 
  color: green 
}

::first-letter { 
  font-size: 200%; 
}
*/
