/* Exercise 2 Question 11 */

body {
    padding: 50px;
}

.container {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.box {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}